.navItems {
    display: inline;
    /* background-color: antiquewhite; */
}

.navigation-bar {
    background-color: slategray;
    border: 2px solid whitesmoke;
}

a {
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    padding: 20px;
    margin-right: 20px;
    color: white;
    border-bottom: 10px, solid, red;
   
    background-color: black;
}